* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica;
  color: #323232;
  border: none;
}

body {
  background-image: url(wallpaper.jpg);
  background-size: cover;
  background-position-y: -100px;
}
textarea:focus, input:focus{
  outline: none;
}

/*container principal*/
#main-container {
  max-width: 400px;
  background-color: white;
  padding: 30px 40px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10vh;
  text-align: center;
  border-radius: 10px;
}

a {
  font-size: 0.7rem;
}

h1 {
  margin-bottom: 1.4rem;
}

/*Forms*/
label,
input {

  display: block;
  text-align: left;
}

label {
  font-weight: bold;
  font-size: 0.7rem;
}

input {
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 0.8rem;
  border-bottom: 2px solid #323232;
}

input:hover {
  border-bottom: 2px solid #08558B;
  transition: 0.6s;
}

#forgot-password {
  display: block;
  text-align: right;
  margin-top: 0.3rem;
  margin-bottom: 1.4rem;
}

input[type="submit"] {
  border: none;
  text-align: center;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #08558B;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 50px;
}
/*Social*/
#social {
  margin-bottom: 20px;
}

#social p {
  margin-bottom: 20px;
}

#social i {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 5px;
  color: white;
  line-height: 40px;
}

.fa-facebook-f {
  background-color: #3B5998;
}

.fa-linkedin {
  background-color: #0077B5;
}

/*register*/
#registrar {
  display: block;
  margin-top: 10px;
}
@media (max-width: 450px) {
  body {
    background-image: url(wallpaper2.jpg);
    background-size: cover;
  }
  
  #main-container {
    max-width: 360px;
  }
}
